// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
	position: absolute;
	top: 30%;
	bottom: 0;
	right: 0;
	left: 0;
}
